<div class="container">
  <h1 class="display-1">{{heroe.nombre | uppercase }}</h1><h4>{{heroe.aparicion | date:"y" }}</h4>
</div>
<hr>
<div class="row animated fadeIn fast">
  <div class="col-md-4">
    <img src="{{heroe.img}}" class="img-fluid">
    <br><br>
    <a [routerLink]="['/Heroes']" class="btn-outline-danger btn btn-block" style="width: 100%">Regresar</a>
  </div>
  <div class="col-md-8 container-fluid centrar">
    <h3>{{heroe.nombre}}</h3>
    <hr>
    <img *ngIf="heroe.casa == 'DC'" src="../../../assets/img/DC.png" class="img-thumbnail img-logo">
    <img *ngIf="heroe.casa == 'Marvel'" src="../../../assets/img/Marvel.png" class="img-thumbnail img-logo">
    <hr>
    <p>{{heroe.bio}}</p>
  </div>

</div>
